@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poppins-font-family: "Poppins", "Inter", sans-serif;
  --inter-font-family: "Inter", "Poppins", sans-serif;

  --font-size-one: 1.1rem;
  --font-size-two: 1.2rem;
  --font-size-there: 1.4rem;
  --font-size-four: 1.6rem;
  --font-size-five: 2rem;
  --font-size-six: 2.4rem;
  --font-size-seven: 3.2rem;
  --font-size-eight: 3.6rem;
  --font-size-nine: 4.8rem;
  --font-size-ten: 5.4rem;
  --font-size-eleven: 11rem;

  --color-one: #fafafa;
  --color-two: #323232;
  --color-three: #f5f5f5;
  --color-four: #ffad33;
  --color-five: #db4444;
  --color-six: #00ff66;
  --color-seven: #6d6d6e;
  --color-eight: #eeff61;
  --color-nine: #ddd;
  --color-white: #fff;

  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;

  /* --line-height-one: 1.2rem;
  --line-height-two: 1.8rem;
  --line-height-three: 2rem;
  --line-height-four: 2.1rem;
  --line-height-five: 2.4rem;
  --line-height-six: 2.6rem;
  --line-height-seven: 2.8rem;
  --line-height-eight: 3rem;
  --line-height-nine: 4.8rem;
  --line-height-ten: 6rem;
  --line-height-eleven: 6.4rem;
  --line-height-twelve: 11.5rem; */

  --font-weight-one: 400;
  --font-weight-two: 500;
  --font-weight-three: 600;
  --font-weight-four: 700;
  /* --transition-time: 0.2s; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* transition: all var(--transition-time); */
}

a {
  /* color: inherit; */
  /* display: inline-block; */
  text-decoration: none;
  /* color: inherit; */
  cursor: pointer;
}

button {
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0 4.8rem;
  max-width: 100%;
  height: 100%;
  font-family: var(--poppins-font-family);
  overflow-x: hidden;
}

/* .today {
  font-weight: var(--font-weight-three);
  font-size: var(--font-size-four);
  line-height: var(--line-height-three);
  color: var(--color-five);
  padding-left: 1.8rem;
  border-left: solid 12px var(--color-five);
  border-radius: 2px;
}

.today--flash-sale {
  font-family: var(--inter-font-family);
  font-weight: var(--font-weight-three);
  font-size: var(--font-size-eight);
  line-height: var(--line-height-nine);
}

.stars {
  display: flex;
  gap: 0.4rem;

  & ion-icon {
    color: var(--color-four);
    width: 20px;
    height: 20px;
  }
} */

ion-icon.product_logo {
  width: 56px;
  height: 56px;
  transition: color 250ms;
}

ion-icon[name="logo-apple"] {
  height: 49px;
  width: 40px;
  color: var(--color-one);
}

div > div > ion-icon[name="heart-outline"],
ion-icon[name="heart"],
ion-icon[name="person-circle-outline"],
ion-icon[name="person-circle"],
ion-icon[name="cart-outline"],
ion-icon[name="cart"],
ion-icon[name="arrow-back-outline"],
ion-icon[name="call-outline"],
ion-icon[name="mail-outline"],
ion-icon[name="heart-dislike-outline"],
ion-icon[name="remove-circle-outline"],
ion-icon[name="add-outline"],
ion-icon[name="remove-outline"],
ion-icon[name="close-outline"],
ion-icon[name="heart-circle-outline"],
ion-icon[name="arrow-forward-outline"] {
  width: 30px;
  height: 27.83px;
}

ion-icon[name="call-outline"],
ion-icon[name="mail-outline"] {
  background-color: var(--color-five);
  color: var(--color-one);
  padding: 1rem;
  border-radius: 100%;
}

ion-icon[name="star"],
ion-icon[name="star-outline"] {
  width: 20px;
  height: 20px;
  color: var(--color-four);
}

div > button > ion-icon[name="heart-outline"],
div > button > ion-icon[name="heart"] {
  width: 3rem;
  height: 2.5rem;
  /* color: var(--color-two); */
}

/* div > button > ion-icon[name="heart"].absolute {
  color: var(--color-five);
} */

/* ion-icon[name="bicycle-outline"], */
ion-icon[name="time-outline"],
ion-icon[name="headset-outline"],
ion-icon[name="shield-checkmark-outline"] {
  width: 40px;
  height: 40px;
  background-color: var(--color-two);
  color: var(--color-one);
  padding: 1.2rem;
  border-radius: 100%;
}

::-webkit-scrollbar {
  width: 7.5px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-nine);
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #db4444;
}

/* .slick-slide > div {
  margin: 0 10px;
} */
